<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maksl5.bl_hunt"
    android:versionCode="822"
    android:versionName="pre_alpha_0.2.0.822_130117-1926" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="BlueHunter"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/str_mainTitle"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" android:logo="@drawable/ic_logo">
        <activity
            android:name=".activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenLayout|screenSize"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EnableBluetoothActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="user"
            android:theme="@style/EnableBluetoothTheme" >
        </activity>
        <activity
            android:name="com.maksl5.bl_hunt.activity.SettingsActivity"
            android:label="@string/str_menu_settings" >
        </activity>
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="user"
            android:theme="@style/EnableBluetoothTheme"
            android:windowSoftInputMode="adjustResize" >
        </activity>
    </application>

</manifest>